.main{
    padding-top: 100px;
    width :1500px;
    padding-right:10px;
    align-items:left;
    height: 200px;

}
.container1{
    background-color:gray;
    align-items: left;
    padding-right: 700px;
    width: 1903px;
    //text-align: center;
}

.container{
    background-color: gray;
    padding-bottom: 0p;
    padding:0px;
    width: 2500px;
    text-align: center;

}

.footer{
    width: 100000px;
    background-color: #0a3ba6;

}
.row{
    padding-left: 400px;
    text-align: center;
}