<section>
    <div class="las">
        <div class="container6">
            <div class="row1">
                <div class="para9">
                    <h1>Anyone hiring a UX designer is hiring someone<br>for their ability to solve their users’
                        problems.</h1>
                    <br><br>
                    <mdb-carousel>
                        <mdb-carousel-item [interval]="1000">
                            <img src="assets/images/pphoto1.png" class="d-block" alt="..." />
                        </mdb-carousel-item>
                        <mdb-carousel-item [interval]="2000">
                            <img src="assets/images/pphoto2.png" class="d-block" alt="..." />
                        </mdb-carousel-item>
                        <mdb-carousel-item [interval]="2000">
                            <img src="assets/images/pphoto3.jpeg" class="d-block" alt="..." />
                        </mdb-carousel-item>
                        <mdb-carousel-item [interval]="2000">
                            <img src="assets/images/pphoto4.jpg" class="d-block" alt="..." />
                        </mdb-carousel-item>
                        <mdb-carousel-item [interval]="2000">
                            <img src="assets/images/pphoto5.jpg" class="d-block" alt="..." />
                        </mdb-carousel-item>
                        <mdb-carousel-item>
                            <img src="assets/images/pphoto6.jpg" class="d-block" alt="..." />
                        </mdb-carousel-item>
                    </mdb-carousel>
                    <div class="p-profile">
                        <h3>Focus only on the visuals..</h3>
                        <p>Employers want to see your thought process and how you apply design principles.<br>Showcase
                            your process from initial user research to the final product.
                        </p>
                        <img class="img-3" src="assets/images/animation.jpg" width="900px">
                    </div>
                    <div class="para5">
                        <h1>we are design UI<br> and present<br>animation UI in <br>our costomers</h1>
                        <h4>UI/UX Designers bring the voice of the user to a project</h4><br>
                        <p>What is UI animation? UI animation is the process of adding motion to UI elements in order to
                            enhance a product's interactivity. UX and UI designers use animation to guide them around
                            the interface, alert users of a change, influence users' decisions, and indicate a
                            relationship between elements—among other uses
                        </p>
                        <div class="video1">
                            <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"
                                width="1280" height="720">
                                <source src="assets/video2.mp4" type="video/mp4">

                            </video>
                        </div>
                    </div>
                    <div class="me">
                        <h1>ABOUT ME</h1>
                        <P>
                            I am Navin. stil in SriLanka .I`m UI/UX Designer.I have the PhD in web programming, character design, animation, multimedia design, editing
                            <br>in usiniversity of Plymouth in UK.
                            We believe that great design begin with great animations.<br> By listening and getting to
                            know you we’ll gain<br>
                            an intimate understanding of the requirements <br>of your design. Through discussions at our
                            studio, on-site or in<br>
                            your design you’ll come to know us and the design. And, together, we will
                            develop an inspired,
                            collaborative process to realizing your vision.i`m work in  UI stands for user interface while UX<br>stands for user experience. UI typically refers to all the visual components associated with a website or mobile app, whereas user experience has more to do with the planning and design of a user journey through your product.
                            <br>
                        </P>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>