.para2 h1{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}
.d-block{
    height: 720px;
    width: 1280px;
    margin: auto;

  }
.p-profile h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    padding-top: 100px;
}
.p-profile p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    padding-top: 100px;
    //padding-left: 200px;
    text-align: center;
}
.para5 h1{
   font-family: 'Times New Roman', Times, serif;
   padding-left: 60px;
   text-align: center;
}
.para5 h4{
    //padding-left: 600px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-top: 100px;
    text-align: center;

}
.para5 p{
    //padding-left: 600px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}
.video1{
    margin: auto;
    margin-top: 100px;
    margin-left: 150px;
    justify-content: center;
    text-align: center;
    display: flex;
}

.me h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 200px;
    font-size: 70px;
}
.me p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    padding-top: 100px;
 
}
.para9 h1{
    font-family: 'Times New Roman', Times, serif;
}
.img-3{
    margin: auto;
    margin-left: 500px;
}