<section>
    <div class="contacus">
        <div class="para-2">
            <div class="laras1">
                <div class="top1">
                  <h1>Say hello.</h1>
                  <h3>SriLanka, Colombo</h3>
                   <ul>
                    <li>Navin</li>
                    <li>NavinGG99@gmail.com</li>
                    <li>+94715536423</li>
                   </ul>
                   <div class="icon">
                    <ul> 
                     <li> <img class="img4" src="assets/images/facebook.png" width="60px"> : Navin</li>
                     <li> <img class="img4" src="assets/images/ins.png" width="60px"> : Navin</li>
                    </ul>

               </div>
                   <div class="r2">
                    <img class="img3 mb-4" src="assets/images/men1.jpg" width="1000px">
                   </div>
                </div>
            </div>
        </div>

    </div>
</section>