<section>
   <div class="container">
      <div class="row">
         <div class="col-sm-5">
            <div class="p-profile"></div>
         </div>
         <div class="col-sm-7 p-rgt-set">
            <div>
               <span class="p-tag">UI/UX Design</span>
               <h1 class="p-navin mt-4">PORTFOLIO</h1>
               <br><br><br><br><br>
               <p class="p-des mt-3 mb-4">The term UI/UX stands for user interface/user experience design and refers to
                  the practice of designing
                  digital products with a user-first approach. In other words, the point of UI/UX design is to create a
                  product that will be both visually appealing and highly pleasant to interact with.A common
                  misconception is that UI and UX come down to the same thing and that they are just one discipline, but
                  that is not entirely true. They are separate disciplines that focus on different aspects of the user’s
                  journey with a digital product.

                  However, they overlap in many ways and are so closely connected that they’ve largely merged into one
                  profession. Let’s take a look at the main differences between UX and UI before moving on to discuss
                  what the UI/UX design process involves and why it matters to you. </p>
               <a href="#" class="p-readmore">Read More <img src="assets/images/arrowright.png"
                     alt="The Icon for read more arrow" width="15" class="ml-2" /></a>
            </div>

         </div>
      </div>
   </div><br><br>
   <div class="p-video">
      <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" width="1280" height="720">
         <source src="assets/video1.mp4" type="video/mp4">

      </video>
   </div> <br><br>
   <div class="h-another">
      <h1>Better design,<br> better experiences.</h1>
   </div><br><br>
   <div class="h-another1">
      <div class="h-opacity">
         <span class="h-ss"><img src="assets/images/photo3.jpg" width="1280px" height="720px" opacity="0.5">

         </span>
         <div class="h-opa">
            <h6>As a designer and developer, I understand the perfect user interface should <br>look good and work even
               better. Alongside my clients, I uncover problems<br> and solve them. In short, I create bolder online
               experiences.</h6>
         </div>
      </div>
   </div>
   <div class="h-another">
      <h1>Projects & Showing Skills</h1>
   </div><br><br>
   <div class="work">
      <br>
      <div class="p1">
         <span class="lar ">
            <div class="n">
               <h2>Web Fashion Designer Website</h2>
               <br>
               <p>This Fashion Design Website Landing Page Set, Dressmakers Create Outfit and Apparel on Sewing Machine, Assistant Working with Mannequin. Creative Atelier Web Page. Cartoon Flat Vector Illustration, Banner
               </p>
            </div>
            <mdb-carousel [controls]="true">
               <mdb-carousel-item [interval]="10000">
                 <img
                   src="assets/images/fashion.png"
                   class="d-block "
                   alt="..."
                 />
               </mdb-carousel-item>
               <mdb-carousel-item [interval]="2000">
                 <img
                   src="assets/images/fashion1.png"
                   class="d-block "
                   alt="..."
                 />
               </mdb-carousel-item>
               <mdb-carousel-item>
                 <img
                   src="assets/images/fashion2.png"
                   class="d-block "
                   alt="..."
                 />
               </mdb-carousel-item>
             </mdb-carousel>
         </span>
 
      </div>
      <br>
      <div class="p2">
         <span class="button ">
            <div class="n">
               <h2>Music Mobile Application</h2>
               <br>
               <p>"XLMusic" is one of our products that is an online music streaming app.
                  You can play your favourite songs, create your own playlist, and many more.
                  Our expert designers have created an amazing UI/UX design that contains attractive colors.</p>
            </div>
            <mdb-carousel [controls]="true">
               <mdb-carousel-item [interval]="10000">
                 <img
                   src="assets/images/music.jpg"
                   class="d-block "
                   alt="..."
                 />
               </mdb-carousel-item>
               <mdb-carousel-item [interval]="2000">
                 <img
                   src="assets/images/music1.png"
                   class="d-block "
                   alt="..."
                 />
               </mdb-carousel-item>
               <mdb-carousel-item>
                 <img
                   src="assets/images/music2.jpg"
                   class="d-block "
                   alt="..."
                 />
               </mdb-carousel-item>
             </mdb-carousel>
         </span>
 
      </div>
      <br>
      <div class="p3">
         <span class="button ">
            <div class="n">
               <h2>System UI/UX Design</h2>
               <br>
               <p>After ideation, refinement, testing and stakeholder feedback, we designed the User Interface using Sketch and created interactive prototypes using inVision.
               </p>
            </div>
            <mdb-carousel [controls]="true">
               <mdb-carousel-item [interval]="10000">
                 <img
                   src="assets/images/car.png"
                   class="d-block "
                   alt="..."
                 />
               </mdb-carousel-item>
               <mdb-carousel-item [interval]="2000">
                 <img
                   src="assets/images/car1.png"
                   class="d-block "
                   alt="..."
                 />
               </mdb-carousel-item>
               <mdb-carousel-item>
                 <img
                   src="assets/images/car2.png"
                   class="d-block "
                   alt="..."
                 />
               </mdb-carousel-item>
             </mdb-carousel>
 
         </span>

      </div><br>
      <div class="h-another2">
         <h1>Always hope to provide a good design & product</h1>
      </div>
   </div>
</section>